.Home {
  min-height: 85vh;
}

.Home_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tittle_Home_container {
  color: rgb(93, 92, 92);
  padding: 1rem;
  font-size: 2rem;
}

.Home > input {
  padding: 0.3rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  outline: none;
}
